{% extends "padre.html" %}

{% block head %}
{{ parent() }}
   <title>Sing Up</title>
   
{% endblock %}

{% block central %}
<div class="extra">
    {%if error == 1%}
    <p>Hay algun campo sin rellenar</p>
    {%endif%}

    <form action="register.php" method="POST">
        <p>User: <input type="text" name="nick" class="inputs"></p>
        <p>Email: <input type="text" name="email" class="inputs"></p>
        <p>Password: <input type="password" name="pass" class="inputs"></p>
        <p><input type="submit" value="Sing Up"></p>
    </form>
</div>
{%endblock%}