/P1/P1/nbproject/private/
/P1/P1/dist/
/P1/P1/build/
/P1/nbproject/private/
/P1/build/
/P1/dist/
/Pr1-HelloWorld/build/
/Pr1-HelloWorld/dist/
/Pr1-HelloWorld/nbproject/private/
/P1/Pr1-HelloWorld/dist/
/P1/Pr1-HelloWorld/build/
/P1/Pr1-Ejercicio1/nbproject/private/
/P1/Pr1-Ejercicio1/dist/
/P1/Pr1-Ejercicio1/build/
/P1/Pr1/nbproject/private/
/P1/Pr1/dist/
/P1/Pr1/build/
/P1/Pr1-HelloWorld/nbproject/private/
/P2/nbproject/private/
/P2/build/
/P2/dist/
