.informacion{
    align-items: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    
}

.informacion .titulo_y_extras{
    border: none;
    text-align: center;
}
.informacion .titulo{
    font-family: "Amaranth", sans-serif;
    font-size: 44px;
    margin-bottom: 0%;
}

.informacion .extra{
    font-size: 20px;
}

/* CUERPO Y FOTOS */
.informacion .cuerpo{
    font-family: "Titillium Web", sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    border: none;
    display: grid;
    text-align: justify;
    grid-template-columns: 80% 20%;
    
}

.informacion .cuerpo p
{
    margin-right: 5%;
}
.informacion .cuerpo b{
    font-size: 20px;
}

.informacion .cuerpo img{
    margin-right: 5%;
    margin-top: 10%;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.informacion .cuerpo figcaption{
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}