<!DOCTYPE html>
<html lang="es-ES">

<head>
    {% block head %}
    <title>Under the Mountain</title>
    <meta name="description" content="Practica 1 SIBW"/>
    <meta name="author" content="Carmen Chunyin Fernández Núñez"/>
    
    <link rel="shortcut icon" href="imagenes/logo/logo.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Yeseva+One&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yeseva+One&display=swap" rel="stylesheet"/>
    {%endblock%}

    {% block styles %}
    <link rel="stylesheet" href="css/portada.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    {% endblock %}
</head>

<header>
    {% block header %}
    <!-- CABECERA -->
    <div class="header">
        <a href="index.php"><img src="imagenes/logo/logo.png" alt="logo" class="logo"/></a>
        <h1 class="titulo">Under the Mountain</h1>
    </div>

    <!-- BARRA DEL MENU-->
    <div class="menu">
        <div class="menu_item" style="border-left:none"> </div>

        <div class="menu_item">
            <button><a href="index.php">Home</a></button>
        </div>

        <!-- BARRA DESPLEGABLE DE ACTIVIDADES -->
        <div class="menu_item">
            <button>Actividades</button>
            <ul class="submenu">
                {% for item in menu[0] %}
                <li><a href="actividad.php?ev={{ loop.index0 }}">{{ item.actividad }}</a></li>
                {% endfor %}
            </ul>
            </div>

        <!-- BARRA DESPLEGABLE DE LUGARES -->
        <div class="menu_item">
            <button>Nuestras Cumbres</button>
            <ul class="submenu">
                {% for item in menu[1] %}
                <li><a href="mountain.php?ev={{ loop.index0 }}">{{ item.mountain }}</a></li>
                {% endfor %}               
            </ul>
        </div>

        <div class="menu_item" style="border-right:none">
            <button><a href="#">Contacto</a></button>
        </div>
    </div>
    {% endblock %}

    
</header>

<body>
    {% block central %}
    <div class="cuerpo">
        <!-- SIDEBAR -->
        <aside class="sidebar">
            <h1> Enlaces de interes</h1>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
        </aside>

        <!-- GRID PRINCIPAL -->
        
        <div class="grid_actividades">
            <p>Parte central de la plantilla</p>
        </div>
       
    </div>
    {% endblock %}
    
    {% block extra %}
    {% endblock %}
</body>

<!-- PIE DE PAGINA-->
<footer class="foot">
    {% block footer %}
    <address>
        Carmen Chunyin Fernández Núñez
    </address>
    <p>© 2024 Sistemas de Información Basados en Web</p>
    {% endblock %}
</footer>

</html>